 *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    :root{
        --primary-color:#F16725;
        --secondary-color:#ffffe3;
    }
    .logo{
        width: 80px;
    }
    .list{
        display: flex;
        list-style: none;
        gap: 20px;
    }
    .flag{
        width: 40px;
    } 
    header{
        background-color: var(--secondary-color);
        height: 100vh;
    }
    nav{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 20px;
    }
    .thirdnav{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .secsection{
        display: flex;
        padding: 60px ;
        font-size: 20px;
        word-spacing: 2px;
        font-family: "Poppins", sans-serif;
        font-weight: 10px;
    }
    .lapimg{
        width: 550px;
        height: 350px;
    }
    .cashtext{
    color: var(--primary-color);
    }
    .navbutton{
        background-color: var(--primary-color);
        color: white;
        padding: 15px;
        border: none;
        border-radius: 15px;
        margin-top: 0;
    }
    a{
        color: var(--primary-color) !important;
        text-decoration: none !important;
    }
    .navbtn{
        background-color: var(--primary-color);
        color: white;
        padding: 15px;
        border: none;
        border-radius: 15px;
    }
    section{
        font-family: "Poppins", sans-serif;
    }
    .sechead{
        margin: 30px;
    }
    .readmore{
        margin: 70px;
        background-color: var(--secondary-color);
        padding: 20px;
        width: max-content;
        border-radius: 10px;
    }
    .orange-text{
        color: #F16725;
    }
    .sec-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-content: center;
    }
    .acct-btn{
        padding-top: 30px;
    }
    .freedom{
        text-align: center;
    }
    .paga-btn{
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        color: white;
        background-color: #FDB913;
        border: none;
    }
    .about{
        display: flex;
        justify-content: space-evenly;
        padding: 70px;
        text-align: center;
        align-items:baseline ;
    }
    .info{
        margin: auto;  
    }
    .info-head{
        padding: 10px;
        color: #F16725;
    }
    .biller{
        background-color: #ffffe3;
        padding: 30px;
    }
    .select-biller{
        color: var(--primary-color);
        padding: 10px 0;
    }
    .biller-s{
        text-align: center;
    }
    .biller-div{
        padding: 30px;
        justify-content: space-evenly;
    }
    .biller-div img{
        margin:0 10px;
    }
    nav .fa-bars{
        display: none;
    }
    .fourth-section h1{
        color: var(--secondary-color);
    }
    .need-agent{
        padding: 10px;
        border-radius: 30px;
        border: none;
        margin: 10px 0;
        background-color: #FDB913;
        color: white;
    }
     .find-agent{
        background-color: white;
        color: var(--primary-color);
        padding: 10px;
        font-size: small;
        border: none;
        border-radius: 5px;
        width: 150px;
    } 
     .become-agent{
        background-color: transparent;
        color: var(--secondary-color);
        padding: 10px;
        font-size: small;
        border-radius: 5px;
        width: 150px;
        border-color: white;
    } 
    .fourth-section p{
        color: rgba(255, 255, 255, 0.698);
    }
    .fourth-section{
        background-color: var(--primary-color);
        margin: 5% 10%;
        position: relative;
        padding: 30px 0;
        padding-left: 80px;
        border-radius: 20px;
    } 
    .fourth-section .img2{
        width: 120px;
        position: absolute;
        top: 65px;
        right: 150px;
    }
    .fourth-section .img1{
        width: 120px;
        position: absolute;
        top: 50px;
        right: 320px;
    }
    .fourth-section .img3{
        width: 120px;
        position: absolute;
        top: 180px;
        right: 250px;
    }
    .fifth-section{
        text-align: center;
        padding: 20px 0;
    }
    .happy-customers{
        padding: 50px;
        display: flex;
        justify-content: space-evenly;
    }
    .cus1{
        align-items: center;
    }
    .cus2{
        align-items: center;
    }
    .cus3{
        align-items: center;
    }
    .cus4{
        align-items: center;
    }
    .happy-customers h2{
        padding: 20px 0;
    }
    .sixth-section{
        padding: 50px;
    }
    .sixth-section img{
       width: 90%;
       text-align: center;
    }
    .download-app{
        background-color: var(--primary-color);
        margin: 5% 10%;
        padding: 50px;
        border-radius: 20px;
        display: flex;
        gap: 30px;
        justify-content: space-between;
    }
    .download-app h1{
        color: var(--secondary-color);
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .download-but{
        padding: 10px;
        border-radius: 30px;
        border: none;
        margin: 10px 0;
        background-color: #FDB913;
        color: white;
    }
    .app-play{
        display: flex;
        gap: 40px;
    }
    .last-section{
        background-color: var(--secondary-color);
        padding: 0 60px;
    }
    .last-section main{
        display: flex;
        justify-content: space-evenly;
        padding: 60px 0;
    }
    .last-section ul{
        list-style: none;
    }
    .last-sec-info{
        align-items: center;
    }
    .last-section h5{
        color: var(--primary-color);
        padding-left: 30px;

    }
    .copyright{
        justify-content: space-between;
        display: flex;
        padding: 0 20px;
    }
    .last-section i{
        color: var(--primary-color);
    }
    .last-sec-media{
        gap: 15px;
        display: flex;
    }
    .last-sec-para{
        padding: 20px 0;
    }
    .last-section li{
        padding: 5px;
    }

    







    @media only screen and (max-width: 600px) {
        .list{
        display: none;   
    }
    .thirdnav{
        display: none;
    }
    nav .fa-bars{
        display: block;
        color: #F16725;
    }
    .secsection{
        flex-direction: column;
        padding: 15px;
        text-align: center;
    }
    .cashtext{
        display: none;
    }
    .secsection p{
        font-size: 15px;
        padding-top: 0;
    }
    .acct-btn{
        flex-direction: column;
        display: flex;
        align-items: center;      
    }
    .navbutton{
        padding: 10px;
        width: 150px;
        font-size: 15px;
        border-radius: 0;
    }
    .acct-btn a{
        padding-top: 30px;
        font-size: small;
    }
    nav{
        justify-content: space-between;
        margin: 0 50px;
    }
    .secsection h1{
        font-weight: 600;
        padding-top: 20px;
    }
    .secsection img{
        width: 50%;
        height: auto;
        margin: 40px auto;

    }
    .sec-content > *:not(:first-child){
        display: none;
    }
    .about{
        flex-direction: column;
        padding: 60px;
    }
    .info{
        padding: 60px 0;
    }
    .fourth-section{
        background-color: var(--primary-color);
    }

} 