 *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    :root{
        --primary-color:#F16725;
        --secondary-color:#ffffe3;
    }
    .logo{
        width: 70px;
    }
    .list{
        display: flex;
        list-style: none;
        gap: 20px;
    }
    .flag{
        width: 40px;
    } 
    header{
        background-color: var(--secondary-color);
        height: 100vh;
    }
    nav{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 20px;
    }
    .thirdnav{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .secsection{
        display: flex;
        padding: 60px ;
        font-size: 20px;
        word-spacing: 2px;
        font-family: "Poppins", sans-serif;
        font-weight: 10;

    }
    .lapimg{
        width: 550px;
        height: 350px;
        /* background-color: #F16725; */
        /* border-radius: 50px; */
    }
    .cashtext{
    color: var(--primary-color);
    }
    .navbutton{
        background-color: var(--primary-color);
        color: white;
        padding: 15px;
        border: none;
        border-radius: 15px;
        margin-top: 0;
    }
    a{
        color: var(--primary-color) !important;
        text-decoration: none !important;
    }
    .navbtn{
        background-color: var(--primary-color);
        color: white;
        padding: 15px;
        border: none;
        border-radius: 15px;
    }
    section{
        font-family: "Poppins", sans-serif;
        /* margin: 40px; */

    }
    .sechead{
        margin: 30px;

    }
    .readmore{
        margin: 70px;
        background-color: var(--secondary-color);
        padding: 20px;
        width: max-content;
        border-radius: 10px;
        /* height: 50px; */

    }
    .orange-text{
        color: #F16725;
    }
    .sec-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-content: center;

    }
    .acct-btn{
        padding-top: 30px;
    }
    .freedom{
        text-align: center;
    }
    .paga-btn{
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        color: white;
        background-color: #F16725;
        border: none;
    }
    .about{
        display: flex;
        justify-content: space-evenly;
        padding: 70px;
        text-align: center;
        align-items:baseline ;
    }
    .info{
        margin: auto;  
    }
    .info-head{
        padding: 10px;
        color: #F16725;
    }
    .biller{
        background-color: #ffffe3;
        padding: 30px;
    }
    .select-biller{
        color: #F16725;
        padding: 10px 0;
    }
    .biller-s{
        text-align: center;
        /* justify-content: space-between; */
        /* gap: 100px; */
        /* row-gap: 40px; */
        /* display: grid; */
        /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    }
    .biller-div{
        padding: 30px;
        justify-content: space-evenly;
    }
    .biller-div img{
        margin:0 10px;
    }
    nav .fa-bars{
        display: none;
    }







    @media only screen and (max-width: 600px) {
        .list{
        display: none;   
    }
    .thirdnav{
        display: none;
    }
    nav .fa-bars{
        display: block;
        color: #F16725;
    }
    .secsection{
        flex-direction: column;
        padding: 15px;
        text-align: center;
    }
    .cashtext{
        display: none;
    }
    .secsection p{
        font-size: 15px;
        padding-top: 0;
    }
    .acct-btn{
        flex-direction: column;
        display: flex;
        align-items: center;      
    }
    .navbutton{
        padding: 10px;
        width: 150px;
        font-size: 15px;
        border-radius: 0;
    }
    .acct-btn a{
        padding-top: 30px;
        font-size: small;
    }
    nav{
        justify-content: space-between;
        margin: 0 50px;
    }
    .secsection h1{
        font-weight: 600;
        padding-top: 20px;
    }
    .secsection img{
        width: 50%;
        height: auto;
        margin: 40px auto;

    }
    .sec-content > *:not(:first-child){
        display: none;
    }
    .about{
        flex-direction: column;
        padding: 60px;
    }
    .info{
        padding: 60px 0;
    } 
} 